/auto-save-list
/eln-cache
/elpa
/.env.el
/projects
/straight
/tree-sitter
/history
/url
/chatgpt
/eshell
/org-roam.db
/transient
/gptel-crowdsourced-prompts.csv
.org-id-locations
bookmarks
/devdocs
/image-dired
/multisession
tramp